body {
    font-family: 'Syne', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

main {
    padding: 20px;
}

/* Section Title */
h2 {
    margin-top: 100px;
    font-size: 2em;
    color: #131313;
    margin-bottom: 20px;
    text-align: center;
}



/* Data Gallery */
.data-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 20px;
    box-sizing: border-box; /* Include padding in total width and height */
    max-width: 100%;
    margin-top: 25px;
    overflow: auto;
    margin-left: auto; /* Aligns the grid container to the right side */
}

.gallery-item {
    position: relative;
    cursor: pointer;
    text-align: center;
    background-color: black;
    max-height: 400px;
    overflow: hidden; /* Ensures content does not overflow the grid item */
    padding: 10px; /* Add padding around the content */
    display: flex;
    flex-direction: column; /* Allows text to wrap properly */
    justify-content: space-between; /* Space between image and text */
}

/* Project Item */
.project-item {
    position: relative;
    cursor: pointer;
    text-align: center;
    background-color: black;
    max-height: 400px;
    overflow: hidden; /* Ensures content does not overflow the grid item */
    padding: 10px; /* Add padding around the content */
    display: flex;
    flex-direction: column; /* Allows text to wrap properly */
    justify-content: space-between; /* Space between image and text */
}

.project-item img {
    width: 100%;
    max-height: 250px;
    object-fit: cover; /* Ensures image fits within the container */
    border-radius: 0;
}

.project-item h3 {
    margin-top: 10px;
    font-size: 14px; /* Increased font size for better readability */
    font-weight: 700;
    color: #fff; /* Text color to ensure readability on dark background */
    overflow: hidden; /* Ensures text does not overflow */
    text-overflow: ellipsis;
    white-space: normal; /* Allows text to wrap */
}

.project-item p {
    margin-top: 5px;
    font-size: 12px; /* Increased font size for better readability */
    color: #ddd; /* Text color to ensure readability on dark background */
    overflow: hidden; /* Ensures text does not overflow */
    text-overflow: ellipsis;
    white-space: normal; /* Allows text to wrap */
}

.project-item a {
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
}

.project-item a img {
    margin-right: 8px;
}

/* Modal Styles */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.modal-body {
    display: none;
}

.modal-body img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
